	<!doctype html>
	<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Predicting Entailment | Gavin Hackeling</title>

		<meta name="description" content="A presentation on predicting entailment in unstructured text by Gavin Hackeling">
		<meta name="author" content="Gavin Hackeling">

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
	<link href="http://localhost:8001/static/css/bootstrap.css" rel="stylesheet">
	<style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
      </style>
      <link href="http://localhost:8001/static/css/bootstrap-responsive.css" rel="stylesheet">
      <!-- Custom styles -->
      <link rel="stylesheet" href="http://localhost:8001/static/css/demo.css">
  </head>

  <body>
  	<h1>Entailment Prediction Demo</h1>
  	<div class="row-fluid">
  		<div class="span6">
  			<form name="ajax-form" id="ajax-form" action="/v1/entailment" method="GET">
  				<input id="p" type="text" name="p" value="Carolina defeated the Duke Blue Devils once again" />
  				<br>
  				<input id="h" type="text" name="h" value="Carolina beat Duke" />
  				<br>
  				<input type="hidden" name="w" value="default" />
  				<button id="ask" style="height:70px; width:90px;">Ask</button>
  				<button id="loading" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
  			</form>
  			<br>
  			<div class="padding" style="height:400px;"></div>
  			<div class="api_response" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
  			">
  			<div class="response_entailment"></div>
  			<br>
  			<pre><code class="response_json"></code></pre>
  		</div>
  	</div>
  	<div class="span6" style="display: block;">
  		<h3>Examples</h3>
  		<p><a onclick="setText(this); return false;">"Carolina defeated the Duke Blue Devils once again", "Carolina beat Duke"</a></p>
  		<p><a onclick="setText(this); return false;">"Carolina defeated the Duke Blue Devils once again", "Carolina did not beat Duke"</a></p>
  		<p><a onclick="setText(this); return false;">"Carolina defeated the Duke Blue Devils once again", "Duke was beaten by Carolina"</a></p>
  		<p><a onclick="setText(this); return false;">"Carolina defeated the Duke Blue Devils once again", "Carolina failed to beat Duke"</a></p>
  	</div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript">
  function setText(link) {
  	var texts = link.innerHTML.split("\", \"");
  	var p = texts[0].substring(1);
  	var h = texts[1].substring(0, texts[1].length -1);
  	$('p').val(p);
  	$('h').val(h);
  }

  jQuery(document).ready(function($){
  	$.fn.serializeObject = function(){
  		var o = {};
  		var a = this.serializeArray();
  		$.each(a, function() {
  			if (o[this.name] !== undefined) {
  				if (!o[this.name].push) {
  					o[this.name] = [o[this.name]];
  				}
  				o[this.name].push(this.value || '');
  			} else {
  				o[this.name] = this.value || '';
  			}
  		});
  		return o;
  	};

  	$(function(){
  		$('form').submit(function() {
			// Set the containers' visibility
			$('#ask').css("display", "none");
			$('#loading').css("display", "block");
			$('.padding').css("display", "none");
			$('.api_response').css("display", "none");

			texts = JSON.stringify($('form').serializeObject());
			$.ajax({
				type: "GET",
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				url: $('#ajax-form').attr('action'),
				data: texts,
				timeout: 60000,
				error: function(request,error) {
					console.log('error');
				},
				success: function(data) {
					$('#ask').css("display", "block");
					$('#loading').css("display", "none");
					$('.api_response').css("display", "block");
					var $response = $(data);
					$response = $response[0];
					console.log($response);
					$entailment = $response['entailment']
					$entailment_code = $response['entailment_code']
					$('.response_json').text(JSON.stringify($response, null, 4));
					$('.response_entailment').text('Entailment: ' + $entailment);
					$('.response_entailment_code').text('Entailment code: ' + $entailment_code);
				}
			});
			return false;
		});
});

});
	</script>


</body>
</html>
