<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Predicting Entailment | Gavin Hackeling</title>

	<meta name="description" content="A presentation on predicting entailment in unstructured text by Gavin Hackeling">
	<meta name="author" content="Gavin Hackeling">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="static/css/reveal.min.css">
	<link rel="stylesheet" href="static/css/theme/simple.css" id="theme">

	<!-- For syntax highlighting -->
	<link rel="stylesheet" href="static/lib/css/zenburn.css">

	<!-- If the query includes 'print-pdf', use the PDF print sheet -->
	<script>
	document.write( '<link rel="stylesheet" href="static/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->

	<!-- Custom styles -->
	<link rel="stylesheet" href="static/css/gavin.css">
</head>

<body>
	<div class="reveal">
		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides" style="width:1440px!important;height=840px;">

			<!-- 
			Elevator pitch
			motivation
		-->
		<section>
			<h3>
				Predicting Entailment
			</h3>
			<h4>Gavin Hackeling</h4>
			<img src="static/img/screen-dallas.png" alt="Tablet and app screenshot" height="800" width="500">
		</section>

		<!-- Contents -->
		<section>
			<h3 style="text-align:left;">In the first part of this presentation I will describe a <strong>language-processing capability</strong> called <strong>entailment prediction</strong>.</h3>
			<br />
			<h3 style="text-align:left;">
				In the second part I will demonstrate one use of entailment prediction in an <strong style="color:#117ada;">app that answers yes-or-no questions.</strong>
			</h3>
		</section>

		<!-- Part I -->
		<section>
			<h2 style="text-align:left;"><span style="color:#117ada;">Part I:</span></h2>
			<h2 style="text-align:left;">Predicting Entailment in Unstructured Text</h2>
		</section>

		<!-- What is entailment? -->
		<section>
			<h3><strong style="color:#117ada;">Entailment</strong> is the relationship between sentences that holds when <strong>one sentence follows from another.</strong></h3>
			<br>
			<h3><span class="bluetext">"I quickly ate some food"</span> follows from <span class="bluetext">"I devoured some food"</span></h3>
			<br>
			<h3><span class="bluetext">"I quickly ate some food"</span> follows from <span class="bluetext">"I devoured some pizza"</span></h3>
		</section>

		<!-- Examples of entailment -->
		<section>
			<h3><blockquote>I ate cheese pizza.</blockquote></h3>
			<h3>does <strong>not</strong> follow from</h3>
			<h3><blockquote>I ate pizza.</blockquote></h3>
			<br>
			<h3><blockquote>I ate cheese pizza.</blockquote></h3>
			<h3>does <strong>not</strong> follow from</h3>
			<h3><blockquote>I ate a sandwich.</blockquote></h3>
		</section>

		<!-- Examples of entailment -->
		<section>
			<h3><blockquote>I was able to eat.</blockquote></h3>
			<h3>does <strong>not</strong> follow from</h3>
			<h3><blockquote>I was unable to eat.</blockquote></h3>
			<br>
			<h3><blockquote>I ate some food.</blockquote></h3>
			<h3>does <strong>not</strong> follow from</h3>
			<h3><blockquote>The kittens were cute.</blockquote></h3>
		</section>


		<!-- Live API Demo 0 -->
		<section>
			<h3>Demo</h3>
			<br>
			<div class="cont" id="cont0" >
				<input id="p" style="width:40%; float:left; margin-right:20px;" type="text" name="p" value="Carolina defeated the Duke Blue Devils once again" />
				<input id="h" style="width:40%; float:left; margin-right:20px;" type="text" name="h" value="Carolina beat Duke" />
				<button class="ask" id="ask-cont0" style="height:70px; width:90px;">Ask</button>
				<button class="loading" id="loading-cont0" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
			</div>
			<br>
			<div class="padding" id="padding-cont0" style="height:400px;"></div>
			<div class="api_response" id="api_response-cont0" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
			">
			<div class="response_entailment" id="response_entailment-cont0"></div>
			<br>
			<pre><code class="response_json" id="response_json-cont0"></code></pre>
			<br>
		</section>

		<!-- Live API Demo 1 -->
		<section>
			<h3>Demo</h3>
			<br>
			<div class="cont" id="cont1" >
				<input id="p" style="width:40%; float:left; margin-right:20px;" type="text" name="p" value="Carolina defeated the Duke Blue Devils once again" />
				<input id="h" style="width:40%; float:left; margin-right:20px;" type="text" name="h" value="Carolina did not beat Duke" />
				<button class="ask" id="ask-cont1" style="height:70px; width:90px;">Ask</button>
				<button class="loading" id="loading-cont1" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
			</div>
			<br>
			<!--<div class="padding" id="padding-cont1" style="height:400px;"></div>-->
			<div class="api_response" id="api_response-cont1" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
			">
			<div class="response_entailment" id="response_entailment-cont1"></div>
			<br>
			<pre><code class="response_json" id="response_json-cont1"></code></pre>
			<br>
		</section>

		<!-- Live API Demo 2 -->
		<section>
			<h3>Demo</h3>
			<br>
			<div class="cont" id="cont2" >
				<input id="p" style="width:40%; float:left; margin-right:20px;" type="text" name="p" value="Carolina crushed the Duke Blue Devils once again" />
				<input id="h" style="width:40%; float:left; margin-right:20px;" type="text" name="h" value="Duke was defeated by Carolina" />
				<button class="ask" id="ask-cont2" style="height:70px; width:90px;">Ask</button>
				<button class="loading" id="loading-cont2" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
			</div>
			<br>
			<div class="padding" id="padding-cont2" style="height:400px;"></div>
			<div class="api_response" id="api_response-cont2" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
			">
			<div class="response_entailment" id="response_entailment-cont2"></div>
			<br>
			<pre><code class="response_json" id="response_json-cont2"></code></pre>
			<br>
		</section>

		<!-- Live API Demo 3 -->
		<section>
			<h3>Demo</h3>
			<br>
			<div class="cont" id="cont3" >
				<input id="p" style="width:40%; float:left; margin-right:20px;" type="text" name="p" value="Carolina defeated the Duke Blue Devils once again" />
				<input id="h" style="width:40%; float:left; margin-right:20px;" type="text" name="h" value="Carolina did not fail to defeat Duke" />
				<button class="ask" id="ask-cont3" style="height:70px; width:90px;">Ask</button>
				<button class="loading" id="loading-cont3" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
			</div>
			<br>
			<div class="padding" id="padding-cont3" style="height:400px;"></div>
			<div class="api_response" id="api_response-cont3" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
			">
			<div class="response_entailment" id="response_entailment-cont3"></div>
			<br>
			<pre><code class="response_json" id="response_json-cont3"></code></pre>
			<br>
		</section>

		<!-- Live API Demo 4 -->
		<section>
			<h3>Demo</h3>
			<br>
			<div class="cont" id="cont4" >
				<input id="p" style="width:40%; float:left; margin-right:20px;" type="text" name="p" value="Carolina defeated the Duke Blue Devils once again" />
				<input id="h" style="width:40%; float:left; margin-right:20px;" type="text" name="h" value="Carolina failed to defeat Duke" />
				<button class="ask" id="ask-cont4" style="height:70px; width:90px;">Ask</button>
				<button class="loading" id="loading-cont4" style="display:none; height:70px; width:90px;"><img src="static/img/loadinfo.net.gif" width="32" height="32"></button>
			</div>
			<br>
			<div class="padding" id="padding-cont4" style="height:400px;"></div>
			<div class="api_response" id="api_response-cont4" style="background-color:#fff; padding:20px; display:none; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);;
			">
			<div class="response_entailment" id="response_entailment-cont4"></div>
			<br>
			<pre><code class="response_json" id="response_json-cont4"></code></pre>
			<br>
		</section>


		<!-- Part II -->
		<section>
			<h2 style="text-align:left;"><span style="color:#117ada;">Part II:</span></h2>
			<h2 style="text-align:left;">An Application of Entailment Prediction: Polar Question Answering</h2>
		</section>

	<section>
		<h3>Search engines, and assistants like Google Now and Siri, sometimes surface answers to a type of question called <strong style="color:#117ada;">factoids</strong>.</h3>
		<img src="static/img/assistants.png" alt="wearables" height="133" width="607" style="margin:60px 0;">
		<h3>These systems use <strong>structured data sources</strong> to answer factoid questions.</h3>
	</section>

	<!-- ZOOM IN TO ALL SCREENSHOTS -->
	<!-- Factoid example screenshots -->
	<!-- How long is the Brooklyn Bridge? Google screenshot -->
	<section class="presentimg">
		<img src="static/img/g_f_brooklyn-z.jpg" alt="Factoid screenshot" height="838" width="1433">
	</section>
	<section class="presentimg">
		<img src="static/img/b_f_uk-z.jpg" alt="Factoid screenshot" height="838" width="1433">
	</section>
	<section class="presentimg">
		<img src="static/img/w_f_declaration-z.jpg" alt="Factoid screenshot" height="838" width="1433">
	</section>
	<!-- replace with screenshot in phone -->
	<section class="presentimg">
		<img src="static/img/gn_f_jakarta.png" alt="Factoid screenshot" height="1280" width="720">
	</section>

	<!-- Users like this feature, and have become habituated to it. GIVE JUSTIFICATION, STATISTICS, etc --> 
	<section>
		<h3>Users like this feature, and have become habituated to it.</h3>
	</section>

		<!-- Not all questions are factoids, and search engines do not answer many of these types of questions.
		These other types include polar, or yes-or-no, questions.
	-->
	<section>
		<h3>Not all questions are factoids, and search engines do not answer many of these types of questions.</h3>
		<br>
		<h3>These other types include <strong style="color:#117ada;">polar</strong>, or yes-or-no, questions.</h3>
	</section>

	<!-- Some polar questions are difficult to rephrase as factoid questions. -->
	<section>
		<h3>Some polar questions are difficult to rephrase as factoid questions.</h3>
		<div>
			<br>
			<h3><blockquote>Are cats crepuscular?</blockquote></h3>
			<h3><blockquote>Did Ariel Sharon have a stroke?</blockquote></h3>
			<h3><blockquote>Is malt an ingredient in beer?</blockquote></h3>
			<h3><blockquote>Can Bitcoin transactions be tracked?</blockquote></h3>
		</div>
	</section>

		<!-- 
		In my tests, users often attempted to rephrase polar questions as factoid questions.
		When the polar question could not be rephrased, they used the polar question verbatim as their search query.
	-->
	<section>
		<h3>When a polar question cannot be rephrased as a factoid question, people often use the <strong>verbatim</strong> polar question as a query.</h3>
	</section>

	<!-- Google Search does not -->
	<section class="presentimg">
		<img src="static/img/g_p_moons-z.jpg" alt="Polar screenshot" height="838" width="1433">
	</section>
	<!-- Wolfram Alpha does not -->
	<section class="presentimg">
		<img src="static/img/w_p_whig-z.jpg" alt="Polar screenshot" height="838" width="1433">
	</section>
	<!-- Google Now can. Way to fucking steal my thunder, Google -->
	<section class="presentimg">
		<img src="static/img/comparison.png" alt="Comparison screenshot" height="960" width="1220">
	</section>
	<!--
	REPLACE THIS IMAGE WITH A DIFFERENT
	POLAR QUESTION FROM BING
	<section class="presentimg">
		<img src="static/img/b_p_fiber.jpg" alt="Factoid screenshot" height="838" width="1433">
	</section>
-->
		<!--
			<section>
				ADD POSITIVE/YES EXAMPLES
			</section>
		-->

		<!-- 
		In the mobile, wearable future of computing, many interfaces will not be to support long pages of search results.
		Search engines were designed for desktop and notebook computers.
		You won't be able to navigate pages of search results using a tiny screen on your wrist or above your eye.
		Users want services that answer their questions with as little work as possible.
	-->
	<section>
		<h3>In the mobile, wearable future of computing, many interfaces will not be able to support long pages of search results.</h3>
		<br>
		<img src="static/img/wearables.jpg" alt="wearables" height="453" width="1433">
	</section>

		<!-- 
		Entailment prediction can be used to automatically answer polar questions using only unstructured text.
	-->
	<section>
		<h3>Entailment prediction can be used to automatically answer polar questions using only unstructured text.</h3>
	</section>

		<!-- 
		Given a query, the system retrieves relevant documents from the web that might provide evidence for an answer.
		It predicts whether or not each document entails the query.
		It uses these predictions to form an answer and justification.
	-->
	<section class="presentimg">
		<img src="static/img/how-it-works-1.png" alt="How it works" height="754" width="1290">
	</section>

		<!-- 
		For example, if I ask "was Millard Fillmore the last Whig president?",
		it might retrieve documents like
		"Millard Fillmore was the last president who was neither a Democrat nor a Republican,"
		"Millard Fillmore was the 13th president",
		and "Millard Fillmore was the 13th president and the final Whig president."
		The first and second documents are relevant, but neither entail nor contradict the question.
		The third document, however, entails the question.
		Based on this evidence, the system should return something like
		"Yes, because Millard Fillmore was the 13th president and the final Whig president."
	-->
	<section class="presentimg">
		<img src="static/img/how-it-works-2.png" alt="How it works" height="754" width="1290">
	</section>

		<!-- 
		Users interact with the app using speech.
		You first address the device by its name, which in this case is tablet, as you would a person.
		The device acknowledges you, and you proceed to ask your question.
		It speaks its answer.

		I use Android's speech recognition service.
		As good as it is, it does not work well in big rooms, and my device has a poor mic, so I have recorded a demo.
	-->
	<section class="presentimg">
		<img src="static/img/screen-dallas.png" alt="Tablet and app screenshot" height="800" width="500">
	</section>


		<!-- 
		Let's take a look at the app in action.
	-->
	<section class="presentimg">
		<iframe src="http://player.vimeo.com/video/64749911?title=0&amp;byline=0&amp;portrait=0&amp;color=cccccc" width="1433" height="807" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	</section>

	<!-- 
		Next Steps
	-->
	<section>
		<h3>Next steps</h3>
	</section>

	<!-- 
		Conclusion
		Automatically answering polar questions from unstructured text lets people use search engines intuitively; 
		it solves a problem that will be exacerbated as mobile and wearable interfaces become more prevalent.
		As entailment prediction systems improve, the will be used in other applications, like detecting paraphrases, measuring the similarity of documents, and summarizing specific topics or arguments within documents.
	-->
	<section>
		<h3>
			Automatically answering polar questions from unstructured text lets people use search engines intuitively.
		</h3>
		<br>
		<h3>
			As entailment prediction systems improve, they will be used in other applications.
		</h3>
	</section>

	<!-- 
	Thanks for listening
-->
<section>
	<h3>Thanks for listening</h3>
	<img src="static/img/screen-dallas.png" alt="Tablet and app screenshot" height="800" width="500">
</section>
</div>


</div>

<script src="static/lib/js/head.min.js"></script>
<script src="static/js/reveal.min.js"></script>

<script>
	// Full list of configuration options available here:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,

		theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

		// Optional libraries used to extend on reveal.js
		dependencies: [
		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
		{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
		{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
		{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
			// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
			// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
			]
		});
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($){
	$(function(){
		$('.ask').click(function() {
			var current = $(this).parent().attr('id');

			var d = {
				p: $(this).parent().find('#p').attr('value'),
				h: $(this).parent().find('#h').attr('value'),
				w: 'default'
			};

			// Set the containers' visibility
			$('#ask'+'-'+current).css("display", "none");
			$('#loading'+'-'+current).css("display", "block");
			// $('#padding'+'-'+current).css("display", "none");
			$('#api_response'+'-'+current).css("display", "none");

			texts = $.param(d);

			$.ajax({
				type: "GET",
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				url: "e",
				data: texts,
				timeout: 60000,
				error: function(request,error) {
					console.log('error');
					console.log(url);
				},
				success: function(data) {
					$('#ask'+'-'+current).css("display", "block");
					$('#loading'+'-'+current).css("display", "none");
					$('#api_response'+'-'+current).css("display", "block");
					var $response = $(data);
					$response = $response[0];
					console.log($response);
					$entailment = $response['entailment']
					$entailment_code = $response['entailment_code']
					$('#response_json'+'-'+current).text(JSON.stringify($response, null, 4));
					$('#response_entailment'+'-'+current).text('Entailed: ' + $entailment);
					$('#response_entailment_code'+'-'+current).text('Entailment code: ' + $entailment_code);
				}
			});	
			
		});
});
});
</script>

</body>
</html>
